* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Inter;
  background-color: #efefef;

  max-width: 1200px;
}

/* .badge-container {
  margin: 1rem auto;
  text-align: center;
  padding: 0.5rem;
} */

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  font-family: "Jura", sans-serif;
}
h1,
h2,
h3,
h3,
h4,
h5 {
  margin-bottom: 0;

  padding-top: 1rem;
}
.main-title {
  background-color: #fffffe;
  color: #282828;
  margin: 0 1.2rem 1rem;
  padding: 1em;
  border-radius: 8px;
}
.main-title > h1 {
  /* font-family: "Permanent Marker", cursive; */
  font-family: "Jura", sans-serif;
  text-align: center;
  margin: 0;
  padding: 1em 1em 0;

  /* padding: 2em 3em; */

  font-size: 2rem;
  text-transform: uppercase;
}
.main-title-sub {
  background-color: transparent;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  margin-top: 0;
  padding: 2rem;
  color: #087e8b;
}
.title {
  font-family: "Jura", sans-serif;
  text-align: center;
  margin: 0.5rem auto;
  color: #072636;
  justify-content: center;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.title {
  border-bottom: #072636 2px solid;
}
.badge-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.subtitle {
  /* font-family: "Permanent Marker", cursive; */
  font-family: "Jura", sans-serif;
  margin-left: 1em;
  color: #0b3954;
}
.badge-grey {
  color: #1f2937;
  background-color: #efefef;
}

.badge-red,
.red {
  color: fffffe;
  background-color: #e02932;
}

.badge-yellow,
.yellow {
  color: #1f2937;
  background-color: ffee32;
}
.badge-green,
.green {
  color: #bfd7ea;
  background-color: #087e8b;
}
.badge-blue {
  color: #087e8b;
  background-color: #bfd7ea;
}

.badge-indigo,
.indigo {
  color: ff5a5f;
  background-color: #072636;
}

.badge-purple {
  color: #f6e0ff;
  background-color: #b5179e;
}
.badge-coral,
.coral {
  color: #087e8b;
  background-color: #ff5a5f;
}

.badge-square,
.badge-pill {
  font-family: "Roboto Mono", monospace;
  border-radius: 4px;
  padding: 1em;
  font-weight: 500;
  text-align: center;
  margin: 0.5em;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.badge-pill {
  border-radius: 12px;
}

.badge-square {
  border-radius: 4px;
}

.banner {
  padding: 1em 1.5em;
  border-radius: 6px;
  margin: 1em 2em;
}
.banner-container {
  margin-bottom: 2em;
}
.banner > p {
  font-family: "Roboto Mono", monospace;
}

.icon {
  margin-right: 0.5em;
}

.card-display {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.card:hover {
  background-color: #087e8b;
}

.card {
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: #072636;
  border-radius: 8px;
  margin: 1em auto;
  padding: 2em;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card--content > h1 {
  font-weight: 500;
  font-size: 1.25em;
  color: #bfd7ea;
  margin-bottom: 2em;
}
.component--container {
  background-color: #fffffe;
  border-radius: 8px;
  margin: 0 1.2rem 1rem;

  padding: 1em;
}

.badge-container > h2,
.banner-container > h2 {
  margin-bottom: 0.5em;
  color: #072636;
  font-size: 1.1rem;
}
.card--content > p {
  color: #efefef;
}
.card--icon {
  font-size: 2em;
  background-color: #ff5a5f;
  color: #fff;
  padding: 0.3em;
  border-radius: 6px;
  width: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.testimonial {
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 80%;
  margin: 2em auto;
  border-radius: 2px;
}

.testimonial > p {
  width: 60%;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1rem;
  font-family: "Inter";
  color: 443437;
  font-weight: 500;
}

.testimonial > img {
  width: 20%;
  padding: 1em;
}

.cite-content {
  display: flex;
}

cite {
  font-style: normal;
}

.divider {
  color: #2e59f3;
  font-weight: 800;
  margin: auto 10px;
  font-style: normal;
}

@media (min-width: 800px) {
  .badge-display {
    display: flex;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
  }
  .banner-display {
    display: flex;
  }

  .card-display {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    margin: 1em;
  }
  .testimonial > p {
    line-height: 2rem;
    font-size: 1.3rem;
  }
}
